
.navbar {
    width: 100vw;
    height: 10vh;
    min-height: 52px;
/*     background-color: #14181c;  */
    background-color: transparent;
    color: #9ab;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 0px 16px 0px rgb(0, 0, 0);
  }
  
  .container {
    width: 100%;
    max-width: 970px;
    max-height: 120px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-around;
  }
  
  .logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo svg {
    height: 100%;
    width: 100%;
  }
  
  
  a {
    text-decoration: none;
    color: #9ab;
    font-weight: 500;
  }
  
  .header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header-links .links {
    cursor: pointer;
  }
  
  .header-links .links:hover {
    color: rgb(211, 234, 255);
    
}


/* ================== Media Queries ================== */
@media screen and (max-width: 768px) {
  .navbar {
    height: 12vh;
    min-height: 80px;
  }
  
  .logo {
    grid-area: logo;
  }

  .header-links {
    grid-area: headerLinks;
  }

  .container {
    display: grid;
    grid-template-areas: 'logo logo logo'
                         'headerLinks headerLinks headerLinks';

  }
}