.search-panel {
    margin-top: 8vh;
    width: 70vw;
    height: 40vh;
    min-width: 900px;
    min-height: 330px;
}

.search-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-panel hr {
    color: #9ab;
    background-color: rgb(84, 91, 97);
    height: 0.1px;
    margin-bottom: 10px;
    border: none;
}

.header-links .search-input {
    display: flex;
}

.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.search-input #search-bar {
    padding: 8%;
    width: 100%;
    border: none;
    background-color: #2c333b;
    border-radius: 3px;
  
}
